.container
  .content
    %h2 Forgot your password?
    .row
      .span12
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal validate' }) do |f|
          = f.error_notification
          %fieldset
            %legend Give us your email. We'll send it to you!
            = f.input :email, :required => true
          .form-actions
            = f.button :submit, 'Send me reset password instructions', :class => 'btn-primary btn-large'
