.registrations {
  &.update {
    form {
      .image_preview {
        .controls {
          img {
            margin-right: 8px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
