body {
  padding-top: 0;

  @media (min-width: 980px) {
    padding-top: 90px;
  }
}

form .alert-error {
  margin-top: 18px;
}

abbr[title=required] {
  border-bottom: none;
  color: $errorText;
  font-weight: bold;
}

.navbar {
  .brand {
    font-weight: bold;
    color: $black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.1);

    &:hover {
      color: lighten($black, 5%);
      text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    }
  }

  .user-actions {
    .sign-in-link,
    .sign-up-link {
      em {
        font-size: 10px;
        font-style: normal;
        margin-right: 4px;
        line-height: 10px;
      }

      strong {
        color: $white;
        font-weight: bold;
      }

      &:hover {
        em {
          color: $grayLight;
        }

        strong {
          color: $blue;
        }
      }
    }

    .logged-in-user-toggle {
      .avatar {
        margin-right: 8px;
        vertical-align: bottom;
        float: left;
      }
    }
  }
}
