@import 'overrides';
@import 'bootstrap';

body {
  padding-top: 90px;
}

.navbar {
  .brand {
    font-weight: bold;
    color: $black;
    text-shadow: 0 1px 0 rgba(255,255,255,.1);
  }

  .user-actions {
    .sign-in-link {
      em {
        font-size: 10px;
        font-style: normal;
        margin-right: 4px;
        line-height: 10px;
      }

      strong {
        color: $white;
        font-weight: bold;
      }
    }

    .logged-in-user-toggle {
      .avatar {
        margin-right: 8px;
        vertical-align: bottom;
        float: left;
      }
    }
  }
}
