@import 'shared';

.welcome {
  &.index {
    .welcome-signup {
      h2 {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 18px;
        font-weight: 400;
      }

      form {
        margin-bottom: 0;

        .form-actions {
          margin: 0;
          padding: 9px 0 0 0;
          border: none;

          .btn {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
