@import 'shared';

.welcome {
  &.index {
    .welcome-signup {
      fieldset {
        padding-top: 0;
        margin-bottom: 0;

        legend {
          padding-bottom: 18px;
        }

        .actions {
          margin: 0;
          padding: 9px 0 0 0;
          border: none;

          .btn {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}
