.container
  .content
    %h2 Resend confirmation instructions
    .row
      .span12
        = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal validate' }) do |f|
          = f.error_notification
          %fieldset
            %legend Give us your email and we'll send you those instructions again.
            = f.input :email, :required => true
          .form-actions
            = f.button :submit, 'Resend confirmation instructions', :class => 'btn-primary btn-large'
